.header {
	margin-bottom: 50px;
}

.main {
}

.footer {
	background-color: black;
}

.footer p {
	margin-top: 10px;
	color: #d3d3d3;
}

form {
	margin-bottom: 10px;
}

label.error {
	color: red;
	font-style: italic;
}
