<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout::head(~{::title},~{})">
<title th:text="#{contact.title}">Contact Us</title>
</head>
<body>
	<div th:replace="layout::default('contact', ~{::div.content})">
		<div class="content">
			<h1 th:text="#{contact.header}">Contact Us</h1>
		</div>
	</div>
</body>
</html>