<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout::head(~{::title},~{})">
	<title th:text="#{dashboard.title}">Dashboard</title>
</head>
<body>
	<div th:replace="layout::default('dashboard', ~{::div.content})">
		<div class="content">
			<h1 th:text="#{dashboard.header}">Dashboard</h1>
			<p th:utext="#{home.welcome(${#authentication.name})}">Welcome {username}!</p>
			<p th:each="authority : ${#authentication.getAuthorities()}" th:text="${authority.getAuthority()}" />
		</div>
	</div>
</body>
</html>