<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout::head(~{::title},~{})">
<title th:text="#{home.title}">Home</title>
</head>
<body>
	<div th:replace="layout::default('home', ~{::div.content})">
		<div class="content">
			<h1 th:text="#{home.header}">Welcome</h1>
			<p th:text="#{home.welcome(${name})}">Welcome {username}!</p>
		</div>
	</div>
</body>
</html>