<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title,links)">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */-->
	<title th:replace="${title}">Untitled</title>

	<!--/* Bootstrap */-->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<!--/* Styles */-->
	<link th:href="@{/css/style.css}" rel="stylesheet">

  	<!--/* Per-page placeholder for additional links */-->
  	<th:block th:replace="${links}" />

	<!--/* HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries */-->
	<!--/* WARNING: Respond.js doesn't work if you view the page via file:// */-->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  	<th:block th:fragment="default(page, content)">
	<header class="header">
		<!--/* Navbar */-->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Template</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul sec:authorize="isAnonymous()" class="nav navbar-nav">
						<li th:classappend="${page == 'home'}? 'active'"><a th:href="@{/}" th:text="#{navbar.home}">Home</a></li>
						<li th:classappend="${page == 'contact'}? 'active'"><a th:href="@{/contact}" th:text="#{navbar.contact}">Contact</a></li>
					</ul>
					<ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
						<li th:classappend="${page == 'dashboard'}? 'active'"><a th:href="@{/dashboard}" th:text="#{navbar.dashboard}">Dashboard</a></li>
						<li th:classappend="${page == 'contact'}? 'active'"><a th:href="@{/contact}" th:text="#{navbar.contact}">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()" th:classappend="${page == 'login'}? 'active'"><a th:href="@{/login}" th:text="#{navbar.login}">Login</a></li>
						<li sec:authorize="isAuthenticated()"><a class="post-link" th:href="@{/logout}" th:text="#{navbar.logout}">Logout</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>

	<main class="main">
		<div class="container">
			<!--/* Placeholder for content */-->
		  	<th:block th:replace="${content}" />
	  	</div>
  	</main>

	<footer class="footer">
		<div class="container">
			<p th:text="#{footer.copyright}">&copy; 2016 Company, Inc.</p>
		</div>
	</footer>

	<!--/* jQuery (necessary for Bootstrap's JavaScript plugins) */-->
	<script	th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<!--/* Include all compiled plugins (below), or include individual files as needed */-->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!--/* jQuery Validation plugins) */-->
	<script	th:src="@{/js/jquery.validate.min.js}"></script>
	<script th:inline="javascript">
		$.extend( $.validator.messages, {
			required: [[#{error.required}]],
			remote: [[#{error.remote}]],
			email: [[#{error.email}]],
			url: [[#{error.url}]],
			date: [[#{error.date}]],
			dateISO: [[#{error.dateISO}]],
			number: [[#{error.number}]],
			digits: [[#{error.digits}]],
			equalTo: [[#{error.equalTo}]],
			extension: [[#{error.extension}]],
			maxlength: $.validator.format( [[#{error.maxlength}]] ),
			minlength: $.validator.format( [[#{error.minlength}]] ),
			rangelength: $.validator.format( [[#{error.rangelengt}]] ),
			range: $.validator.format( [[#{error.range}]] ),
			max: $.validator.format( [[#{error.max}]] ),
			min: $.validator.format( [[#{error.min}]] ),
		});

		$(function() {
			$('#loginForm').validate();
		});
	</script>
	<script th:inline="javascript">
		var _csrf = [[${_csrf}]];

		$(function() {
			$('a.post-link').click(function(e) {
				$('<form>',
				{
					'method': 'POST',
					'action': $(this).attr('href')
				})
				.append($('<input>',
				{
					'name': _csrf.parameterName,
					'value': _csrf.token,
					'type': 'hidden'
				}))
				.appendTo('body')
				.submit();

				return false;
			});
		})
	</script>
	</th:block>
</body>
</html>