<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout::head(~{::title},~{})">
	<title th:text="#{login.title}">Login</title>
</head>
<body>
	<div th:replace="layout::default('login', ~{::div.content})">
		<div class="content col-md-6 col-md-offset-3">
			<h1 th:text="#{login.header}">Login</h1>
			<form id="loginForm" th:action="@{/login}" th:object="${loginForm}" method="post">
				<div class="form-group">
					<label for="loginEmail" th:text="#{login.field.email}">Email address</label>
					<input type="email" id="loginEmail" th:field="*{email}" class="form-control" th:placeholder="#{login.field.email.placeholder}" required>
					<label class="error" for="loginEmail" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
				</div>
				<div class="form-group">
					<label for="loginPassword" th:text="#{login.field.password}">Password</label>
					<input type="password" id="loginPassword" name="password" class="form-control" th:placeholder="#{login.field.password}" required>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" th:field="*{rememberMe}"> [[#{login.field.rememberMe}]]
					</label>
				</div>
				<button type="submit" class="btn btn-default" th:text="#{login.button.submit}">Login</button>
			</form>
		</div>
	</div>
</body>
</html>